SELECT 
    InvoiceNo,
    StockCode,
    Description,
    Quantity,
    InvoiceDate,
    UnitPrice,
    CustomerID,
    Country,
    (Quantity * UnitPrice) AS TotalSales
FROM `customer-intelligence-db.raw_retail_data.Transactions`
WHERE CustomerID IS NOT NULL 
  AND Quantity > 0
  AND UnitPrice > 0;